<nav>
    <a href="/">首页</a>
    <a href="/record">记事本</a>
    <a href="/vacations">旅行产品</a>
    <a href="/newsletter">订阅</a>
    <a href="/contest/vacation-photo">上传图片</a>
    <a href="/about">about</a>
</nav>