<body>
    <table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
        <tr>
            <td valign="top">
                <table cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="200" valign="top"><img class="image_fix" src="http://meadowlarktravel.com/email/logo.png" alt="Meadowlark Travel" title="Meadowlark Travel" width="180" height="220" /></td>
                    </tr>
                    <tr>
                        <td width="200" valign="top">
                            <p>
                                Thank you for booking your trip with Meadowlark Travel, {{cart.billing.name}}.
                            </p>
                            <p>Your reservation number is {{cart.number}}.</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="200" valign="top">Problems with your reservation? Contact Meadowlark Travel at
                            <span class="mobile_link">555-555-0123</span>.</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>