<h2>景点添加</h2>
<form method="POST" action="/add-attraction">
    <div><label>名字:</label><input type="text" name="name"></div>
    <div><label>说明:</label><input type="text" name="description"></div>
    <div><label>你的邮箱:</label><input type="text" name="email"></div>
    <button>提交</button>
</form>