{{#section 'head'}}
<!-- test -->
<meta name="robots" content="noindex"> {{/section}}
<h1>段落 Test</h1>
<p>来啊</p>
{{#section 'jquery'}}
<script>
    $('document').ready(function() {
        setTimeout(function() {
            $('p').html('ok')
        }, 2000);
    })
</script>
{{/section}}