a.currency {
    text-decoration: none;
}

.currency.selected {
    font-weight: bold;
    font-size: 150%;
}

nav .active {
    color: blue;
    font-weight: bold;
}

nav .active:hover {
    text-decoration: none;
    cursor: default;
}