<h1>Request Group Rate</h1>
<form>
    <input type="hidden" name="referrer" value={{referrer}}>
    name: <input type="text" id="filedName" name="name" value=""><br>
    Group Size: <input type="text" name="groupSize"><br>
    Email: <input type="email" name="email"><br>
    <input type="submit" value="提交">
</form>
